

<div class="navbar">

<%= image_tag("logos/shopping-cart.jpg", width: '75px') %>




<ul id="nav">
  <li><%= link_to "Shopping List", root_path %></li>
  <li><%= link_to "Available Items", about_path %></li>
  <li><%= link_to "Product Database", products_path %></li>
</ul>


</div>
