
<div class="home-page">

<p>These are the items that we have at home:</p>

<% @product.each do |product| %>

<p> Product name:  <strong><%= product.name %> </strong>  Quantity we have:  <strong>  <%=product.quantity_available %>  </strong></p>


<% end %>


<p><%= link_to "Checkout Product List", products_path %></p>
</div>
