
<div class="home-page">

<p>These are the items that we need to buy:</p>

<% @product.each do |product| %>
<% if (product.quantity_needed - product.quantity_available) > 0 %>

<p> Product name:  <strong><%= product.name %> </strong>  Quantity we need:  <strong>  <%=product.quantity_needed - product.quantity_available %>  </strong></p>


<% end %>

<% end %>

<p><%= link_to "Checkout Product List", products_path %></p>
</div>

