
<div class="home-page">

<p>These are the items that we need to buy:</p>

<% @product.each do |product| %>
<p> Product name:  <strong><%= product.name %></strong>  Quantity we need:  <strong>  <%= product.quantity_needed %>  </strong></p>

<% end %>

<p><%= link_to "Checkout Product List", products_path %></p>
</div>

