@import "bootstrap-sprockets";
@import "bootstrap";





h1 {
  font-family: "Arial Black", Gadget, sans-serif;


}

p{

  font-family: "Lucida Sans Unicode"
}


.navbar{
  display:flex;
  margin: 10px;
  border-style: outset;
  text-align: center;

}

.navbar li {
  display: inline-block;
  font-size: 20px;
  padding: 20px;
}


.home-page{
margin: 20px;
padding: 20px;
}



.banner {
  background-size: cover;
  background-position: center;
  padding: 271px 0;
  z-index: 0;
  position: relative;
  height: 100vh;
  color: white;
}


span {
    margin: 0 10px;
}

span:first-of-type {
    margin-left: 0;
}

span:last-of-type {
    margin-right: 0;
}

